/* Global Styles */

* {
    font-family: poppins;
    margin: 0;
    padding: 0;
}

/* First Section Styles */

.first-section {
    background-image: url(./developer-portfolio/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}

/* Container Styles */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 630px;
    width: 100%;
    margin-top: 40px;
}

/* Left Side Styles */

.left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

/* Right Side Styles */

.right-side {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

/* Typography Styles */

.header {
    font-size: 50px;
}

.description {
    margin: 20px 0px;
}

.description-title {
    font-weight: bold;
}

.highlighted-text {
    color: rgb(247, 139, 107);
}

/* Link Styles */

.link {
    text-decoration: none;
    color: white;
}

/* Button Styles */

.hire-btn {
    text-decoration: none;
    width: max-content;
    padding: 10px 20px;
    background-image: linear-gradient(to right, rgb(250, 105, 87), rgb(248, 139, 106));
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.hire-btn:hover {
    background-image: linear-gradient(to left, rgb(250, 105, 87), rgb(248, 139, 106));

}

/* Image Styles */

.img {
    height: 100%;
    width: auto;
}

.content-left {
    margin-left: 17%;
}

.content-right {
    margin-right: 17%;
}

.align-start{
    display: flex;
    align-items: start !important;
    margin-top: 150px;
}

.second-section{
    background-image: url(./developer-portfolio/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}