* {
    font-family: poppins;
    margin: 0;
    padding: 0;
}

.first-section {
    background-image: url(./developer-portfolio/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 630px;
    width: 100%;
    margin-top: 40px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;

}

.right-side {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.header {
    font-size: 50px;
}

.description {
    margin: 20px 0px;
}

.description-title {
    font-weight: bold;
}

.highlighted-text {
    color: rgb(247, 139, 107);
}

.link {
    text-decoration: none;
    color: white;
}

.hire-btn {
    text-decoration: none;
    width: max-content;
    padding: 10px 20px;
    background-image: linear-gradient(to right, rgb(250, 105, 87), rgb(248, 139, 106));
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ;
}

.hire-btn:hover {
    background-image: linear-gradient(to left, rgb(250, 105, 87), rgb(248, 139, 106));
    
}

.img {
    height: 100%;
    width: auto;
}

.content-left{
    margin-left: 17%;
}